$cBlack: #333333;
$cWhite: #fff;
$cGray: #999;
$cGrayWhite: #f3f3f3;

.mb--xs {
    margin: 0 auto 20px auto;
}

.mb--sm {
    margin: 0 auto 40px auto;
}

.mb--md {
    margin: 0 auto 80px auto;
}

.mb--lr {
    margin: 0 auto 80px auto;
}

.mb--xl {
    margin: 0 auto 120px auto;
}

.no-image {
    object-fit: cover;
}