$cBlack: #333333;
$cWhite: #fff;

.mb--sl {
    margin: 0 auto 40px auto;
}

.mb--md {
    margin: 0 auto 80px auto;
}

.mb--lr {
    margin: 0 auto 80px auto;
}

.mb--xl {
    margin: 0 auto 120px auto;
}


