$cBlack: #333333;
$cWhite: #fff;
$cGray: #999;
$cGrayWhite: #f3f3f3;

.mb--xs {
    margin-bottom: 20px;
}

.mb--sm {
    margin-bottom: 40px;
}

.mb--md {
    margin-bottom: 80px;
}

.mb--lr {
    margin-bottom: 120px;
}

.mb--xl {
    margin-bottom: 160px;
}

.no-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide-background {
    background-color: $cGrayWhite;
}