@media (min-width: 1440px) {
    .photoArticle {
        &__thumbnail {
            height: 186.23px !important;
        }
        &__detailTitle {
            font-size: 16px !important;
        }
        &__btn a {
            font-size: 16px !important;
        }
    }
}