.about {
    @include sectionStyle;

    &__item {
        text-align: center;
    }

    &__image {
        position: relative;
        text-align: center;
        object-fit: cover;
    }

    &__title {
        @include sectionTitle;
    }

    &__title--num {
        @include sectionTitleNum;
    }
}