@import "./variables/*.scss";

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.7;
    letter-spacing: 0.04em;
    max-width: 1440px;
    color: $cBlack;
}






@import "./breakpoints/414up/**/*.scss";

@media (min-width: 768px) {
    @import "./breakpoints/768up/**/*.scss";
}

@media (min-width: 1024px) {
    @import "./breakpoints/1024up/**/*.scss";
}

@media (min-width: 1440px) {
    @import "./breakpoints/1440up/**/*.scss";
}