@import "./variables/*.scss";
html{
    scroll-behavior: smooth;
}

body {

    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.7;
    letter-spacing: 0.04em;
    max-width: 1440px;
    color: $cBlack;
}

img {
    height: auto;
}

.wp-block-image figcaption {
    font-size: 12px;
    color: $cGray;
}

@import "./common/**/*.scss";
@import "./page/**/*.scss";
@import "./post/**/*.scss";