@import "./variables/*.scss";

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.7;
    letter-spacing: 0.04em;
    max-width: 1440px;
    color: $cBlack;
}

img {
    height: auto;
}

@import "./common/**/*.scss";
@import "./page/**/*.scss";
@import "./post/**/*.scss";