@mixin sectionStyle {
    max-width: 480px;
    margin: 0 auto 80px;
}

@mixin sectionStyleBgc {
    background-color: $cGrayWhite;
    margin: 0 auto 80px;
    max-width: 480px;
    padding: 80px 0;
}

@mixin sectionTitle {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 500;
}

@mixin sectionTitleEN {
    display: block;
    font-size: 12px;
    text-align: center;
    color: $cGray;
    margin-bottom: 20px;
}

@mixin sectionTime {
    display: block;
    font-size: 12px;
    color: $cGray;
}

@mixin sectionBtn {
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 60px auto 0;
    border-top: 1px solid $cBlack;
    border-bottom: 1px solid $cBlack;
}