@import "./variables/*.scss";

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.7;
    letter-spacing: 0.04em;
    max-width: 1440px;
    color: $cBlack;
}




img {
    object-fit: cover;
    height: auto;
}
@import "./414up/**/*.scss";

@media (min-width: 768px) {
    @import "./768up/**/*.scss";
}

@media (min-width: 1024px) {
    @import "./1024up/**/*.scss";
}

@media (min-width: 1440px) {
    @import "./1440up/**/*.scss";
}