.popular {
    width: 90%;
    max-width: 480px;
    margin: 0 auto 120px;

    &__image {
        position: relative;
        text-align: center;
        transition: all 0.4s;
    }

    &__image:hover {
        transform: translateY(-10px);
    }


    &__list {
        width: 90%;
        margin: 0 auto;
    }
    
    &__thumbnail {
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        @include sectionTitle;
    }

    &__title--en {
        @include sectionTitleEN;
    }

    &__details {
        margin: 0 auto;
        margin-top: 10px;
    }

    &__time {
        @include sectionTime;
    }

    &__detailTitle {
        font-size: 12px;
    }
}