@media (min-width: 1440px) {
    .popular {
        &__detailTitle {
            font-size: 16px !important;
        }

        &__details {
            margin: 0 auto;
            margin-top: 10px;
        }

        &__thumbnail {
            height: 200px !important;
        }
    }
}




