@media (min-width: 768px) {
    .popular {
        max-width: 90%;

        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            flex-basis: 30%;
        }
    }
}




