@media (min-width: 768px) {
    .searchResults {
        max-width: 90%;
    
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
        }

        &__item {
            flex-basis: 48%;
            flex-direction: column;
        }

        &__thumbnail {
            height: 198.66px;
        }
    
        &__details {
            margin-top: 10px;
            margin-left: 0;
        }
    }
}  
