.codeCategory {
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 48%;
        text-align: center;
        background-color: $cGrayWhite;
        margin-top: 10px;
    }
}