@media (min-width: 768px) {
    .articleSingle {
        width: 80%;

        .wp-block-image {
            max-width: 600px;
            height: auto;
            margin: 0 auto;
            text-align: center;
        }
    }
}
