.about {
    @include sectionStyle;
    width: 90%;

    &__item {
        display: flex;
        justify-content: space-between;
        text-align: center;

        &--sns {
            margin-top: 10px;
            flex-basis: 49%;
            background-color: $cGrayWhite;
            transition: all 0.4s;
        }

        &--sns:hover {
            background-color: $cBlack;
            color: $cWhite;
        }
    }

    &__link {
        transition: all 0.4s;
    }

    &__link:hover {
        transform: translateY(-10px);
    }

    &__image {
        position: relative;
        text-align: center;
        object-fit: cover;
    }

    &__title {
        @include sectionTitle;
    }

    &__title--en {
        @include sectionTitleEN;
    }
}