/******************************************
    414px
******************************************/
.category {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;

    &__item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    &__title {
        @include sectionTitle;
    }

    &__title--en {
        @include sectionTitleEN;
    }
}

/******************************************
    7680px
******************************************/
@media (min-width: 768px) {
    .category {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
}

/******************************************
    1024px
******************************************/
@media (min-width: 1024px) {
    .category {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;

        &__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}


/******************************************
    1440px
******************************************/
@media (min-width: 1440px) {
    .category {
        max-width: 80% !important;
    }
}
