@media (min-width: 1024px) {
    .archiveResults {
        &__label {
            font-size: 16px !important;
        }

        &__list::after {
            content: '';
            display: block;
            flex-basis: 30%;
        }

        &__item {
            flex-basis: 30% !important;
        }

        &__thumbnail {
            height: 165.55px !important;
        }

        &__detailTitle {
            font-size: 14px !important;
        }
    }
}