.archiveResults {
    @include sectionStyle;

    &.current-item {
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
    &.breadcrumb {
        margin: 40px;
    }

    &__label {
        font-size: 14px;
        margin-bottom: 40px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        width: 100%;
        margin: 0 auto;
    }

    &__image {
        position: relative;
        text-align: center;
        flex-basis: 45%;
        transition: all 0.4s;
    }

    &__image:hover {
        transform: translateY(-10px);
    }

    &__thumbnail {
        width: 100%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        @include sectionTitle;
    }

    &__title--en {
        @include sectionTitleEN;
    }

    &__details {
        flex-basis: 55%;
        margin: 0 auto;
        margin-left: 10px;
    }

    &__detailTitle {
        font-size: 12px;
    }

    &__time {
        @include sectionTime;
    }
}