@media (min-width: 1440px) {
    .mainVisual {
        &__title {
            font-family: 'Anton', sans-serif;
            font-size: 60px;
            color: White;
            position: absolute;
            top: 70% !important;
            right: 20% !important;
        }
    
        &__image {
            max-height: 440px !important;
        }
    }
}
