@media (min-width: 1024px) {
    .lifeArticle {
        &__list {
            width: 80% !important;
            flex-wrap: nowrap !important;
        }

        &__item:first-child,
        &__item {
            flex-basis: 24% !important;
            flex-direction: column !important;
        }

        &__details {
            margin-top: 10px !important;
            margin-left: 0 !important;
        }

        &__detailTitle {
            font-size: 14px !important;
        }

        &__thumbnail {
            height: 130px !important;
        }
    }
}