.mainVisual {
    position: relative;

    &__title {
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        color: White;
        position: absolute;
        top: 60%;
        right: 5%;
    }

    &__image {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
    }
}