.footer {
    margin-bottom: 80px;
    width: 100%;

    &__text {
        font-size: 12px;
        text-align: center;
    }

    &__copyWrite {
        font-size: 12px;
        text-align: center;
    }
}